@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.score {
  text-align: right;
  padding: 0 22px 0 22px;
  line-height: 110px;
  color: white;
  font-size: 85px;
  font-weight: 300;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  cursor: pointer;
  border: none;
  margin: 5px;
  font-size: 30px;
  font-weight: 500;
  transition-duration: 200ms;
}

.btn-circle {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.btn-capsule {
  width: 170px;
  height: 80px;
  border-radius: 50px;
}

.btn-light {
  background-color: #A5A5A5;
  color: #000;
}

.btn-light:hover {
  background-color: #D9D9D9;
}

.btn-dark {
  background-color: #343434;
  color: #FFF;
}

.btn-dark:hover {
  background-color: #737373;
}

.btn-orange {
  background-color: #FEA00C;
  color: #FFF;
}

.btn-orange:hover {
  background-color: #FBC88F;
}

.btn-orange.active {
  background-color: #FFF;
  color: #FEA00C;
}

.btn-orange.active:hover {
  background-color: #FAC68D;
}

.tab-bar {
  width: 200px;
  height: 5px;
  background-color: #FFF;
  border-radius: 5px;
  margin: 30px auto 0 auto;
}